
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}
:root{
    ---nav-color : rgb(204, 58, 36);

    --ff-montserrat: "Montserrat";
    --ff-parisienne: "Parisienne";
    --ff-kalam: "Kalam";
}
html, body {
    height: 100%;
}
body{
    color: white;
    font-family: 'Montserrat';
}
p{
    font-size: clamp(0.9rem, 2vw, 1rem);
}
.homepage{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size:100% , cover ;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.text{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.text h1{
    font-family: 'Times New Roman', Times, serif;
    -webkit-text-stroke: 1px white;
    color: transparent;
}
.text h2{
    
    font-weight: 300;
    font-size: 1.2rem;
    margin-top: 1rem;
}
.text #comma{
    color: var(---nav-color);
    font-size: 2rem;
}
.text p{
    font-size: 1rem;
    margin-top: 0.7rem;
    line-height: 1.6;
    color: rgb(210, 207, 207);
}
.bttns{
    margin: 4rem 0rem;
}
.bttn{
    border: 2px solid var(---nav-color);
    box-sizing: border-box;
    width: 210px;
    padding: 0.7rem 0rem;
    font-family: 'Montserrat';
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 300ms ease-in-out,
                color 300ms ease-in-out;
    margin-right: 1.5rem;
    background-color: var(---nav-color);
    color: white;
}
.bttn:hover{
    background-color: transparent;
}
.social-links{
    position: fixed;
    bottom: 2rem;
    display: flex;
    gap: 1rem;
}
.social-links a{
    display: inline-block;
    background-color: var(---nav-color);
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 2px solid var(---nav-color);
}
.fa-brands{
    font-size: 1.2rem;
    color: white;
}
.fa-facebook-f{
    font-size: 1rem;
}
.social-links a:hover{
    background-color: transparent;
    transition: background-color 200ms ease-in-out;
}
@media(width<=750px){
    .homepage{
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), black), url("../images/bg5.jpg");
    }
    .text h1{
        font-size: clamp(3.5rem,10vw , 4.5rem);
    }
    .text h2{
        font-size: 1rem;
    }
    .text p{
        padding: 0rem  calc((100vw - max(65%, 400px))/2);
        font-size: 0.9rem;
    }
    .bttns{
        margin: 2rem 0rem;
    }
    .bttn{
        font-size: 0.8rem;
        margin: 0.5rem 0.5rem;
    }
}
@media(width>750px) and (width<=1000px){
    .homepage{
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), black), url("../images/bg5.jpg");
    }
    .text h1{
        font-size: max(9vw, 4.5rem);
    }
    .text p{
        padding: 0rem  calc((100vw - max(65%, 400px))/2);
    }
}
@media(width>1000px){
    .homepage{
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), black), url("../images/bg5.jpg");
    }
    .homepage{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .text h1{
        font-size: clamp(5.2rem, 8vw ,7rem);
    }
    .text p{
        padding: 0rem  min(5rem, 2vw);
    }
}
